---
import { Picture } from "astro:assets";
import Link from "@components/ui/link.astro";
import { Icon } from '@astrojs/starlight/components';

const {
  title,
  description,
  primaryRef,
  secondaryRef,
  picture,
} = Astro.props;
---
<div class="group relative">
  <div class="aspect-h-1 overflow-hidden rounded-md lg:aspect-none group-hover:opacity-75">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">{title}</h2>

    <Picture
      src={picture}
      alt="Front of men&#039;s Basic Tee in black." 
      class="h-full object-cover object-center lg:h-full"
    />
  </div>
  <div class="mt-4 flex justify-between">
    <p class="mt-1 text-xl">{description}</p>
  </div>
  <div class="mt-4 flex">
    <Link
      href={primaryRef}
      class="bg-paradiso flex gap-1 items-center justify-center rounded-full"
      rel="noopener">
      Registrarme
      <Icon class="text-white w-5 h-5" name="right-arrow" />
    </Link>
    <div class="w-2"></div>
    <Link
      size="lg"
      style="outline"
      rel="noopener"
      href={secondaryRef}
      class="border-charlotte bg-charlotte text-paradiso flex gap-1 items-center justify-center rounded-full">
      Conoce la ruta de aprendizaje
      <Icon class="w-4 h-4" name="seti:notebook" />
    </Link>
  </div>
</div>